@keyframes Stalking {
    from {};
    to {};
}

html, .body {
    height: 20em;
    padding: 0;
    margin: 0;
    background-color: black;
    position: relative;
}
.circle  {
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}