body {
    font-family: Arial, sans-serif;
    color: #5f5f5f;
    letter-spacing: 2px;
}

a:visited {
    color: #5f5f5f;
}

a:hover {
    color: aquamarine;
}

nav {
    display: block;
}

nav a {
    margin-left: 10px;
    font-weight: normal;
    color: #ff9933;
    text-decoration: none;
}

h1 {
    color:#ff9933;
    font-size: 90px;
    margin: 0;
    line-height: 1;
    padding: 0;
}

section p {
    font-size: 22px;
    color: #5f5f5f;
}

span {
    color: #ff9933;
    font-weight: bold;
    font-size: 36px;
}

article {
    text-align: center;
    font-size: 26px;
    line-height: 1.6;
}

.newChallenge {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    color: #ff9933;
}

.firstWbsite {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}