body {
    font-family: Arial, sans-serif;
    color: #5f5f5f;
    letter-spacing: 2px;
}

nav {
    display: block;
    border-bottom: solid 1px black;
    height: 40px;
    width: 100%;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    right: 0;
    position: absolute;
    top: 0;
}

li {
    display: inline-block;
}

ul a {
    margin-right: 20px;
    font-weight: normal;
    color: #ff9933;
    text-decoration: none;
    font-size: 25px;
}

h1 {
    color:#ff9933;
    font-size: 90px;
    margin: 0;
    line-height: 1;
    padding: 0;
}

section {
    padding: 2em;
}

section p {
    font-size: 22px;
    color: #5f5f5f;
}

img {
    width: 100px;
    height: 100px;
}

span {
    color: #ff9933;
    font-weight: bold;
    font-size: 36px;
}

article {
    text-align: center;
    font-size: 26px;
    line-height: 1.6;
}

.newChallenge {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    color: #ff9933;
}

.firstWebsite {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    font-size: 25px;
}

a:visited {
    color: grey;
}
a:hover {
    color: aquamarine;
}
a:active {
    color: ivory;
}

.description {
    display: flex;
}

.greeting {
    width: 50%;
}

.thisIsNotMe {
    width: 50%;
    text-align: center;
}